body {
    background-color: #ffffff;
    color: #010301;
}

nav {
    background-color: #283b28;
    color: #e8f0e8;
    text-align: right;
}

nav a {
    color: #e8f0e8;
}

aside {
    float: right;
    margin: 20px;
}

section {
    border: 1px solid #283b28;
    border-radius: 15px;
    padding: 1em;
    margin: 2em;
    background-color: rgb(255, 255, 255);
}

section h1 {
    text-decoration: underline;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

table {
    width: 100%;
    border: 0px;
    padding: 5px;
 }

 table.bordeada {
    border: 1px #010301 solid;
 }

 th, td {
    text-align: left;
    font-size: 1em;
    vertical-align: top;
    padding: 0.3em;
    caption-side: bottom;
    background-color: white;
 }
 th {
    background: rgb(88, 92, 104);
    color: floralwhite;
    font-weight: bolder;
 }

 .b { text-align:center }
 .d {border:1px #010301 solid;}
 .r {text-align: right;}

 .boton {
    text-align: center;
    font-size: large;
    font-weight: bold;
 }